/.DS_Store
/UberSignature/bin
/UberSignature/obj
/UberSignatureLib/bin
/UberSignatureLib/obj
/UberSignatureLib/.DS_Store
/UberSignature.userprefs
/packages
/UberSignatureNuget.NuGet/.DS_Store
/UberSignatureNuget.NuGet/bin
/UberSignatureNuget.NuGet/obj
